@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 50px;
}

.title {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 2.4rem;
  margin-top: 0.3em;
  font-weight: 300;
  margin-bottom: 1rem;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .image {
    width: 100%;
  }
}
